# VS Code
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Claude
.claude/
CLAUDE.md
code.md
# OS
.DS_Store
Thumbs.db
sequence.md

# Logs / temp
*.log
*.tmp

# file
gear_insert.py

# ROS2 build directories
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# docs
docs/superpowers

# TRASH
TRASH/
TRASH-FILES.md