# VS Code
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Claude
.claude/
CLAUDE.md
code.md
# OS
.DS_Store
Thumbs.db
sequence.md

# Logs / temp
*.log
*.tmp

# file
gear_insert.py

# ROS2 build directories
build/
install/
log/

# docs
docs/superpowers
docs/노드문서

# TRASH
TRASH/
TRASH-FILES.md

# TOOLS
tools/roi_results/